#!/bin/sh
. "$(dirname -- "$0")/_/husky.sh"

message=$(cat $1)
requirePattern="^\[[A-Z][a-zA-Z]+-[0-9]+\]\s+(docs|fix|feat|init|refactor):\s.*"


if ! echo "$message" | grep -qE "$requiredPattern";
then
  echo "💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀"
  echo "-"
  echo "🚨 Wrong commit message! 😕"
  echo "The commit message must have this format:"
  echo "<[Tag-numbers]> prefix: <what was done>"
  echo "Example #1: [General-01] feat: add commit-msg husky hook"
  echo "Example #2: [General-02] fix: fix typo"
  echo "-"
  echo "Your commit message was:"
  echo $message
  echo "-"
  echo "For more information, check script in .husky/commit-msg"
  echo "-"
  exit 1
fi